/* __________________________________header__________________________ */
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
}
.header__nav ul {
    display: flex;
}
.header__nav li a {
    width: 120px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    margin: 0 2px;
    transition: all 0.2s;
}
.header__nav li.active a,
.header__nav li:hover a {
    background-color: #e9e4ff;
    color: #412c86;
}
.header__ham {
    width: 40px;
    height: 40px;
    display: none;
}
.header__ham a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 18px 0 0 8px;
}
.header__ham span {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #412c86;
    border-radius: 3px;
    position: relative;
}
.header__ham span::before {
    content: '';
    width: 24px;
    height: 3px;
    background-color: #412c86;
    position: absolute;
    left: 0;
    bottom: 7px;
}
.header__ham span::after {
    content: '';
    width: 24px;
    height: 3px;
    background-color: #412c86;
    position: absolute;
    left: 0;
    top: 7px;
}

@media (max-width: 1200px){
    .header__nav {
        display: none;
    }
    .header__ham {
        display: block;
    }
}
@media (max-width: 600px){
    .header__inner {
        height: 60px;
        padding: 0 16px;
    }
    .header__logo img  {
        width: 110px;
        padding-top: 5px;
    }
}
/* ______________________________________________________________slider________________ */
.slider__inner {
    background-color: #a994ff;
    width: 100%;
    position: relative;
}
.slider__inner > .slider {
    width: 1280px;
    height: 600px;
    margin: 0 auto;
    padding: 100px 0;
    background-image: url(../img/slider01-min.jpg);
    background-repeat: no-repeat;
    background-position: right center;
}
.slider__text h3 {
    font-size: 66px;
    line-height: 1.3;
    color: #fff;
    font-weight: 300;
    margin-bottom: 120px;
}
.slider__text h3 em {
    font-weight: 800;
}
.slider__text p {
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 50px;
}
.slider__arrow .left {
    position: absolute;
    left: 30px;
    top: 50%;
    width: 30px;
    height: 56px;
    margin-top: -28px;
    background-image: url(../img/slider_icon.svg);
}
.slider__arrow .right {
    position: absolute;
    right: 30px;
    top: 50%;
    width: 30px;
    height: 56px;
    margin-top: -28px;
    background-image: url(../img/slider_icon.svg);
    background-position: -50px 0;
}
.slider__dot a {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/slider_icon.svg);
    background-position: -20px -70px;
}
.slider__dot a.play {
    background-position: -40px -70px;
}
.slider__dot a.stop {
    background-position: -60px -70px;

}
.slider__dot a.active {
    background-position: 0 -70px;

}

@media(max-width : 1290px){
    .slider__inner > .slider{
        width: 100%;
        padding: 80px 16px;
    }
    .slider__text h3 {
        font-size: 5vw;
        padding: 0 40px;
        word-break: keep-all;
    }
}
@media(max-width : 800px){
    .slider__inner > .slider{
        background-size: 60%;
        background-position: center bottom 80px;
    }
    .slider__text h3 {
        text-align: center;
    }
    .slider__text p {
        display: none;
    }
    .slider__arrow {
        display: none;
    }
    .slider__dot {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }  
}
@media(max-width : 600px){
    .slider__text h3 {
        font-size: 34px;
    }
    .slider__inner > .slider{
        background-size: 340px;
    }
}

/* _______________________ intro _______________________ */
.intro__inner {
    padding: 100px 0;
    overflow: hidden;
}
.intro__inner .container {
    display: flex;
    justify-content: space-between;
}
.intro__img {
    width: 60%;
    position: relative;
}
.intro__img .img1 {
    position: absolute;
    left: 20%; 
    top: 10%;
}
.intro__img .img1 img {
    width: 700px;
}
.intro__img .img2 {
    position: absolute;
    left: -25%; 
    top: -20%;
}
.intro__img .img2 img {
    width: 600px;
}
.intro__img .img3 {
    position: absolute;
    left: 50%; 
    top: -20%;
    transform: translateX(-50%);
}
.intro__img .img3 img {
    width: 600px;
}
.intro__text {
    position: relative;
    z-index: 100 ;
    width: 33%;
    width: 415px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 60px 0;
}
.intro__text h3 {
    font-size: 53px;
    line-height: 1.3;
    margin-bottom: 50px;
    font-weight: 300;
}
.intro__text h3 em {
    font-weight: 800;
}
.intro__text p {
    font-size: 18px;
    line-height: 1.5;
}
@media (max-width: 1200px) {
    .intro__inner .container {
        flex-direction: column-reverse;
    }
    .intro__inner {
        padding-bottom: 0;
    }
    .intro__img {
        width: 100%;
    }
    .intro__img .img3{
       position: relative;
       text-align: center;
       bottom: -10px;
    }
    .intro__text{
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding-bottom: 0;
    }

}
@media (max-width: 800px) {
    .intro__inner {
       padding-top: 80px; 
    }
    .intro__text {
        padding-top: 0;
    }
    .intro__text h3 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .intro__text p {
        font-size: 16px;
    }
}
@media (max-width: 600px) {
    .intro__text h3  {
        font-size: 34px;
    }
    .intro__text p {
        font-size: 14px;
    }
    .intro__img .img1 img  {
        display: none;
    }
    .intro__img .img2 img  {
        width: 100%;
    }
    
    .intro__img .img3 img  {
        width: 100%;
    }
}



/* _________________________________pointUse__________________________ */
#pointUse {
    background-color: #f8f8f8;;
}
.use__inner {
    padding: 100px 0;
}
.use__title {
    margin-bottom: 40px;
}
.use__title h3 {
    font-size: 45px;
    line-height: 1;
    font-weight: 800;
}
.use__title h3 em {
    font-weight: 400;
}
.use__title h3 span {
    font-size: 18px;
    font-weight: 300;
    color: #333;
}
.use_img {
    display: flex;
    justify-content: space-between;
}
.use_img > div {
    width: 32%;
    text-align: center;
    position: relative;
}
.use_img > div figure {
    width: 100%;
    position: relative;
}
.use_img > div figure img {
    border-radius: 20px;
}
.use_img > div figure::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff45;
    backdrop-filter: blur(10px);
    z-index: 10;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
} 
.use_img > div figcaption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color:#fff;
    z-index: 100;
    font-weight: 800;
    transition: opacity 0.5s;
    opacity: 0;
}
.use_img > div figure:hover::after {
    opacity: 1;
}
.use_img > div figure:hover figcaption {
    opacity: 1;
}
.use_img > div p {
    padding: 10px;
    color: #6d6d6d;
    font-size: 16px;
}

@media (max-width: 800px){
    .use__inner {
        padding: 80px 0;
    }
    .use__title h3 {
        font-size: 34px;
        text-align: center;
    }
    .use__title h3 span {
        display: block;
        font-size: 16px;
        margin-top: 15px;
    }
    .use_img {
        flex-direction: column;
    }
    .use_img > div {
        width: 60%;
        margin: 0 auto 40px auto;
    }
    .use_img > div:last-child {
        margin-bottom: 0;
    }
    .use_img > div figure:hover::after {
        opacity: 0;
    }
    .use_img > div figcaption{
        position: relative;
        color: #000;
        opacity: 1;
        margin-top: 25px;
        font-size: 18px;
        font-weight: 500;
    }
    .use_img > div p {
        padding: 0;
        margin-top: -10px;
    }

}
@media (max-width: 600px){
    .use_img > div {
        width: 100%;
    }
}

/* _____________pointUp_______________ */
#pointUp {}

.up__inner {
    padding: 100px 0;
}
.up__title {
    margin-bottom: 40px;
}
.up__title h3 {
    font-size: 45px;
    line-height: 1;
    font-weight: 800;
}
.up__title h3 em {
    font-weight: 400;
}
.up__title h3 span {
    font-size: 18px;
    font-weight: 300;
    color: #333;
}
.up__slider {
    position: relative;
}
.up__slider .img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.up__slider .img> div {
    width: 15%;
    text-align: center;
}
.up__slider .img > div.active {
    width: 30%;
    padding: 3%;
    position: relative;
}
.up__slider .img> div.active::before {
    content: '';
    background-image: url(../img/upBg.png);
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.up__slider .img> div span {
    display: block;
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
    visibility: hidden;
}
.up__slider .img> div em {
    font-size: 16px;
    color: #6d6d6d;
    visibility: hidden;
}
.up__slider .img > div.active span,
.up__slider .img > div.active em {
    visibility: visible;
}
.up__slider .img> div.active img {
    box-shadow:5px 5px 5px rgba(0,0,0,.1);
    border-radius: 50%;
}
.up__slider .btn a {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 26px;
    background-image: url(../img/slider_icon.svg);
}
.up__slider .btn a.left {
    left: 0;
    background-position: 0 -93px;
    margin: -50px 0 0 -50px;
}
.up__slider .btn a.right {
    right: 0;
    background-position: -36px -93px;
    margin: -50px -50px 0 0;
}
@media (max-width: 800px) {
    .up__inner {
        padding: 80px 0;
    }
    .up__title h3 {
        font-size: 34px;
        text-align: center;
    }
    .up__title h3 span {
        display: block;
        font-size: 16px;
        margin-top: 15px;
    }
}
/* _________________________________________________download__inner */
.download__inner {
    background-color: #3A35E8;
    padding: 100px 0;
    text-align: center;
    position: relative;
}
.download__title h3 {
    font-size: 45px;
    color: #fff;
    font-weight: 300;
}
.download__title p {
    font-size: 45px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 60px;
}
.download__img .img {
    width: 470px;
    margin: 0 auto 60px auto;
    position: relative;
}
.download__img .img img {
    position: relative;
    z-index: 10;
}
.download__img .img::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #5d4cf38e;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.download__img .img::after {
    content: '';
    width: 92%;
    height: 92%;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    left: 4%;
    top: 4%;
    z-index: 2;
}
.download__img .btn a {
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 15px 60px;
    border-radius: 10px;
}
.download_bg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

@media (max-width:800px) {
    .download__inner {
        padding: 80px 0;
    }
    .download__title{
        padding: 0 20px;
    }
    .download__title h3 {
        font-size: 34px;
        line-height: 1.4;
        margin-bottom: 5px;
        word-break:keep-all;
    }
    .download__title p {
        font-size: 16px;
        font-weight: 300;
    }
    .download__img .img {
        width: 80%;
    }
    .download__img .btn a {
        font-size: 18px;
        padding: 10px 40px;
    }
}