/* header */
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
}
.header_nav ul {
    display: flex;
}
.header_nav li a {
    width: 120px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    margin: 0 2px;
    transition: all 0.2s;
}
.header_nav li.active a,
.header_nav li:hover a {
    background-color: #e9e4ff;
    color: #412c86;
}
.header__ham {
    width: 40px;
    height: 40px;
    display: none;
}
.header__ham a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 18px 0 0 8px;
}
.header__ham span {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #412c86;
    border-radius: 3px;
    position: relative;
}
.header__ham span::before {
    content: '';
    width: 24px;
    height: 3px;
    background-color: #412c86;
    position: absolute;
    left: 0;
    bottom: 7px;
}
.header__ham span::after {
    content: '';
    width: 24px;
    height: 3px;
    background-color: #412c86;
    position: absolute;
    left: 0;
    top: 7px;
}

@media (max-width: 1200px){
    .header_nav {
        display: none;
    }
    .header__ham {
        display: block;
    }
}
@media (max-width: 600px){
    .header_inner {
        height: 60px;
    }
    .header__logo img {
        width: 110px;
    }
}
/* slider */
.slider__inner {
    background-color: #a994ff;
    width: 100%;
    position: relative;
}
.slider__inner > .slider {
    width: 1280px;
    height: 600px;
    margin: 0 auto;
    padding: 100px 0;
    background-image: url(../img/slider01-min.jpg);
    background-repeat: no-repeat;
    background-position: right center;
}
.slider__text {}
.slider__text h3 {
    font-size: 66px;
    line-height: 1.3;
    color: #fff;
    font-weight: 300;
    margin-bottom: 120px;
}
.slider__text h3 em {
    font-weight: 800;
}
.slider__text p {
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 50px;
}
.slider__arrow {}
.slider__arrow .left {
    position: absolute;
    left: 30px;
    top: 50%;
    width: 30px;
    height: 56px;
    margin-top: -28px;
    background-image: url(../img/slider_icon.svg);
}
.slider__arrow .right {
    position: absolute;
    right: 30px;
    top: 50%;
    width: 30px;
    height: 56px;
    margin-top: -28px;
    background-image: url(../img/slider_icon.svg);
    background-position: -50px 0;
}
.slider__dot {}
.slider__dot a {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/slider_icon.svg);
    background-position: -20px -70px;
}
.slider__dot a.play {
    background-position: -40px -70px;
}
.slider__dot a.stop {
    background-position: -60px -70px;

}
.slider__dot a.active {
    background-position: 0 -70px;

}