* {
    margin: 0;
    padding: 0;
}
a {
    color: #000;
    text-decoration: none;
}
li {
    list-style: none;
}

#header {
    padding: 40px;
    text-align: center;
    border-bottom: 1px dashed #dcdcdc;
}
#header h1 {
    font-size: 4vmax;
    padding: 0 40px 40px;
}
#header h1 a {
    text-decoration: none;
    color: #161366;
    font-family: "GmarketSans";
}
#header nav ul li {
    list-style: none;
    display: inline;
}
#header nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #161366;
    border: 1px solid #161366;
    padding: 10px 20px;
    margin-bottom: 5px;
    font-family: "nanumSquareNeo";
}
#header nav ul li.active a {
    background-color: #161366;
    color: #fff;
}
#header nav ul li a:hover {
    background-color: #161366;
    color: #fff;
}
#main {
    min-height: 500px;
}
#footer {
    padding: 40px;
    text-align: center;
    border-top: 1px dashed #dcdcdc;
}
#footer a {
    color: #161366;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

/*  main__menu */
.main__menu {
    padding: 40px;
    border-bottom: 1px dashed #dcdcdc;
}
.main__menu ul {
    margin-bottom: 10px;
}
.main__menu ul li a {
    font-family:"nanumSquareNeo";
    line-height: 1.8;
    color:#161366;
}
.main__menu ul li a:hover {
    color: #09073c
}
.main__menu ul li a strong {
    position: relative;
    padding: 0 5px;
}
.main__menu ul li a strong::before {
    content: " ";
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #16136641;
    transition: all 0.3s;
    border-radius: 30px;
    display: block;
}
.main__menu ul li a:hover strong::before{
    height: 100%;
}

/* main__sample */
.main__sample {
    padding: 40px;
}
.main__sample .sample {
    margin-bottom: 100px;
}
.main__sample .sample h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: "GmarketSans";
    line-height: 1.4;
}
.main__sample .sample p {
    color: #666;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 500;
    font-family: "nanumSquareNeo";
}
.main__sample .sample .desc {
    background-color: #f6f6f6;
    padding: 10px 10px 13px 20px;
    border-left: 5px solid #161366;
    margin-bottom: 10px;
    font-family: "nanumSquareNeo";
    line-height: 1.5;
    font-weight: 500;
}
.main__sample .sample .result {
    font-family: "nanumSquareNeo";
}   
.main__sample .sample summary {
    margin-bottom: 10px;
    cursor: pointer;
}
.main__desc {
    padding: 40px;
    font-family: "nanumSquareNeo";
}
.main__desc  > div {
    margin-bottom: 100px;
}
.main__desc h2 {
    font-family: "GmarketSans";
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1.4;
}
.main__desc p {
    background-color: #c9ddf5;
    padding: 20px;
    border-left: 5px solid #161366;
    margin-bottom: 20px;
}
.main__desc ul {
    margin-bottom: 20px;
}
.main__desc li {
    line-height: 1.6;
    position: relative;
    padding-left: 10px;
}
.main__desc li::before {
    content:'';
    width: 4px;
    height: 4px;
    background-color: #161366;
    position: absolute;
    left: 0;
    top: 10px;
}
.main__desc a {
    display: block;
    padding: 20px;
    border: 1px dashed #161366;
    text-align: center;
    font-size: 20px;
}
.main__desc a:hover {
    background-color: #161366;
    color:#fff;
}
/* table */
.table table{
    width: 100%;
    border: 1px solid #dcdcdc;
    margin-bottom: 50px;
    font-family:"nanumSquareNeo" ;
    text-align: center;
    border-spacing: 0;
}
.table table caption{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 600;
}
.table table tr th {
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    padding:  10px;
    background-color: #d5d6e3;
}  
.table table tr td {
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    padding: 10px;
}
.table table tr th:last-child{
    border-right: 0;
}   
.table table tr td:last-child{
    border-right: 0;
}
.table table tr td {
    text-align: left;
}

@media (max-width: 800px) {
    #header {
        padding: 20px;
    }
    #header h1 {
        padding: 20px;
    }
    #header nav ul li a {
        padding: 5px 10px;
        font-size: 14px;
    }
    .main__menu {
        padding: 20px;
        font-size: 14px;
    }
    .main__sample {
        padding: 20px;
    }
    .main__sample .sample h3{
        font-size: 20px;
    }
    .main__sample .sample p {
        font-size: 14px;
    }
    .main__sample .sample .desc {
        font-size: 14px;
        padding: 8px 5px 8px 10px;
    }
    .main__sample .sample .result{
        font-size: 14px;
        line-height: 1.6;
    }
    .main__desc {
        padding: 20px;
    }
    pre code.hljs {
        font-size: 14px;
    }
}