#main {
    background-color: #fff;
}
.input__style {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #555555;
    padding: 1rem 0.9rem 0.9rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    font-weight: 100;
}
.btn__style {
    display: block;
    background-color: #1976DE;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    padding: 1rem 0.9rem 0.8rem;
    cursor: pointer;
    width: 100%;
}



.join__inner {
    padding: 9rem 0;
}
.join__inner h2 {
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
.join__inner > p {
    font-size: 1.2rem;
    text-align: center;
    color: #555555;
    word-break: keep-all;
    font-weight: 100;
}
.join__inner .input {}
.join__form {
    padding: 2% 0;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
}

.join__form div {
    /* margin-bottom: 2em; */
    color: #555555;
}
.join__form div label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: left;
    color: #555555;
}
.join__agree .agree__box .check:nth-child(1) {
    border-bottom: 1px solid #555;
    margin-bottom: 1rem;

}



.join__agree {
    width: 100%;
    background-color: #fff;
    border: 1px solid #555555;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    margin-top: 2rem;
}
.join__login {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 14px;
    margin-bottom: 10px;
}
.join__login p {
    padding-right: 0.5rem;
    color: #555555;
    font-weight: 100;
}
.join__login a {
    text-decoration: none;
    color: #1976DE;
    font-size: 16px;
    font-weight: 500;
}
.join__agree .checkAll {
    width: 100%;
    height: 1px;
    color: #555555;
}
.join__agree .checkAll input,
.join__agree .check input {
    width: 15px;
    height: 15px;
    cursor: pointer;
} 
.join__agree .check input {
    margin-bottom: 5px;
    margin-right: 10px;
}
.join__form div.check label {
    font-weight: 100;
    font-size: 15px;
    display: flex;
    align-items: center;
    line-height: 1.5;
    padding-top: 5px;
}


/* .join__form form div {
    display: flex;
} */
.joinEnd__btn__style1 {
    display: block;
    background-color: #1976DE;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    padding: 1rem 0.9rem 0.9rem;
    cursor: pointer;
    width: 50%;
    font-weight: 500;
}

.joinEnd__inner img {
    display: block;
    margin: 0 auto;
}
.joinEnd__inner > p {
    font-size: 1.2rem;
    text-align: center;
    color: #555555;
}
.joinEnd__inner h2 {
    font-size: 2.3rem;
    text-align: center;
    padding-top: 2rem;
}
.joinEnd__btn__style2 {
    margin-left: 0.6rem;
    display: block;
    background-color: #555555;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    padding: 1rem 0.9rem 0.9rem;
    cursor: pointer;
    width: 50%;
}

 .joinEnd__inner img {
    width: 150px;
}
/*
.joinEnd__inner img:hover {
    transform: scale(1.3);
} */

.ico_join
{
    animation-duration: 1s;
    animation-name: heartBling;
    animation-iteration-count: infinite;
}

@keyframes heartBling
{
    0% { transform: scale( 1 ); }
    33% { transform: scale( 0.9 ); }
    50% { transform: scale( 1.1 ); }
    100% { transform: scale( 0.9 ); }
}


@media (max-width: 800px){
    .joinEnd__inner img:hover {
        transform: scale(1);
    }
}

@media (max-width: 700px){
    .join__form {
        max-width: 600px;
        text-align: center;
        margin: 0 auto;
        margin-top: 3.5rem;
        padding-right: 0;
        padding-left: 0;
        width: 90%;
    }
    .join__inner {
        padding: 9.5rem 0;
    }
    .join__inner.join__join {
        padding: 5.5rem 0;
    }
    .join__inner h2 {
        font-size: 2rem;
    }
    .join__inner > p {
        font-size: 1rem;
    }
    .join__form div label {
        margin-bottom: 5px;
    }

    .input__style {
        margin-bottom: 1rem;
    }
    .joinEnd__inner > p {
        word-break: keep-all;
    }
    .joinEnd__inner h2 {
        font-size: 1.7rem;
    }

}

@media (max-width: 450px){
    .join__form {
        width: 100%;
    }
    .join__inner {
        padding: 5rem 0;
    }
    .join__inner > p {
        width: 90%;
        margin: 0 auto;
    }
    .join__form div label {
        display: block;
        font-size: 1rem;
        font-weight: 500;
    }
    .input__style {
        margin-bottom: 1.5rem;
        padding: 0.85rem 0.9rem 0.7rem;
    }
}