/* .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 478px);
    grid-template-rows: repeat(4, 286px);
    grid-gap: 1px;
}

.grid-item {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    border: 1px solid;
}

.grid-item7 {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    border: 1px solid;
    grid-column: 3/5;
}

.grid-item9 {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    border: 1px solid;
    grid-row: 3/5;
    grid-column: 2;
} */
/* #main {}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    height: 100vh;
    width: 100vw;
}

.grid-item {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
}

.grid-item h1 {
    width: 100%;
    height: 100%;
}


.grid-item:nth-child(7) {
    grid-column: span 2; 
}

.grid-item:nth-child(9) {
    grid-row: span 2;
    height: 50%;
} */