@font-face {
    font-family: 'LotteriaDdag';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaDdag/LotteriaDdag.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaDdag/LotteriaDdag.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaDdag/LotteriaDdag.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaDdag/LotteriaDdag.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaDdag/LotteriaDdag.ttf') format("truetype");
    font-display: swap;
} 
/* header */
#header {
    background-color: #1976DE;
}
.header_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 0;
}
.header_wrap .logo a {
    display: block;
    width: 130px;
}
.header_wrap nav ul {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    color: #fff;
}
.header_wrap nav ul li {
    margin-left: 60px;
}
.header_wrap nav ul li a {
    color: #fff;
    font-family: 'LotteriaDdag';
    font-size: 20px;
    display: inline-block;
}

.input__style {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #555555;
    padding: 0.9rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    font-family: "Segoe UI";
    font-weight: bold;
}
.btn__style {
    background-color: #1976DE;
    color: #fff;
    font-size: 1rem; /* 버튼의 크기를 줄임 */
    border-radius: 50px;
    border: none;
    padding: 0.5rem; /* 버튼 내부 패딩을 조절 */
    cursor: pointer;
    width: 20%;
    font-family: "Inter";
    font-weight: bold;
}
/* 공통 버튼 스타일 */
.btn__style3 {
    border: none;
    border-radius: 50px;
    padding: 0.5rem;
    cursor: pointer;
    font-family: "Inter";
    font-weight: bold;
    width: 20%;
    height: 50px;
}
/* 삭제 버튼 스타일 */
.delete-button {
    background-color: #1976DE; /* 빨간 배경색 */
    color: #fff; /* 흰 텍스트 색상 */
    margin-right: 10px; /* 오른쪽 마진 추가 */
}

/* 수정 버튼 스타일 */
.update-button {
    background-color: #1976DE; /* 파란 배경색 */
    color: #fff; /* 흰 텍스트 색상 */
}

/* 버튼 호버 스타일 */
.btn__style3:hover {
    opacity: 0.8; /* 마우스 호버 시 버튼 투명도 조정 */
}
/* 부모 요소에 display: flex;를 적용하여 버튼을 오른쪽으로 이동시킴 */
.board__btns {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
}

/* 원래 크기에서 좌우 마진을 추가하여 버튼을 오른쪽에 배치함 */
.board__btns .btn__style {
    margin-left: auto;
}
.board__inner {
    padding: 80px 0;
    font-family: "Segoe UI";
}
.board__inner h2 {
    font-size: 2.3rem;
    text-align: center;
    font-weight: bold;
}
.board__inner > p {
    font-size: 1.2rem;
    text-align: center;
    color: #555555;
    word-break: keep-all;
    font-weight: 100;
}
.board__inner .input {}
.board__form {
    padding: 2% 20%;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
}

.board__form div {
    /* margin-bottom: 2em; */
    color: #555555;
}
.board__form div label { 
    display: block;
    font-size: 1.1rem;
    margin-bottom: 15px;
    text-align: left;
    color: #555555;
    
}
.icon-container {
    display: flex;
    align-items: center;
    gap: 5px; /* 이미지 아이콘 간 간격 설정 */
}

.icon {
    width: 32px; /* 이미지 아이콘의 폭 설정 */
    height: 32px; /* 이미지 아이콘의 높이 설정 */
    border: 1px solid #000; /* 선택적으로 테두리 추가 */
    border-radius: 50%; /* 선택적으로 원 모양으로 만듭니다. */
}

#footer {
    text-align: center; /* 텍스트를 가운데 정렬 */
}

.m_menu {
    display: none;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width: 26px;
    height: 20px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

/* 2th bar �щ씪吏�怨�,  1st 3rd bar �뚯쟾�섎ŉ X  */

.menu-trigger.active-1 span:nth-of-type(1) {
  transform: translateY(9px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  transform: translateY(-8px) rotate(45deg);
}

@media (max-width: 1500px){
    .header_wrap img {
        padding-left: 1rem;
    }
    .header_wrap nav  {
        padding-right: 1rem;
    }
    .btn__style {
        width: 20%;
    }
}
@media (max-width: 1200px) {
    .btn__style {
        width: 20%;
    }
}


@media (max-width: 800px){
    .header_wrap nav {
        display: none;
    }

    .m_menu {
        display: flex;
        font-size: 1.7rem;
        z-index: 99;
        margin-right: 20px;
    }
    
    .btn__style {
        font-size: 1rem; /* 버튼의 크기를 줄임 */
        border-radius: 50px;
        border: none;
        padding: 0.5rem; /* 버튼 내부 패딩을 조절 */
        cursor: pointer;
        width: 20%;
        font-family: "Inter";
        font-weight: bold;
    }
}

@media (max-width: 700px){
    .board__form {
        max-width: 600px;
        text-align: center;
        margin: 0 auto;
        margin-top: 1.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .board__form div label {
        margin-bottom: 5px;
    }


    .board__inner {
        padding: 10px 0;
    }
    .input__style {
        margin-bottom: 1rem;
    }
    

}
@media (max-width: 465px) {
    .btn__style {
        font-size: 1rem; /* 버튼의 크기를 줄임 */
        border-radius: 50px;
        border: none;
        padding: 0.5rem; /* 버튼 내부 패딩을 조절 */
        cursor: pointer;
        width: 30%;
        font-family: "Inter";
        font-weight: bold;
    }
}
