.members__inner {
    padding: 80px 0;
}
.members__inner h3 {
    margin-bottom: 5px;
}
.members__inner table {
    text-align: center;
    border-top: 1px solid var(--black400);
}
.members__inner table th {
    background-color: var(--black500);
}
.members__inner table th,
.members__inner table td {
    border-bottom: 1px solid var(--black400);
    border-right: 1px solid var(--black400);
    padding: 10px;
}
.members__inner table tr:hover {
    background-color: var(--black600);
}
.members__inner table th:last-child,
.members__inner table td:last-child {
    border-right: 0;
}
