.card__wrap {
    padding: 20px 0;
    position: relative;
}
.card__wrap h2 {
    display: inline-block;
    font-size: 1rem;
    border: 1px solid var(--black);
    padding: 0.4rem 1rem;
    margin-top: 50px;
    margin-bottom: 1rem;
    text-transform: capitalize;
}
.card__inner {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}
.card__inner.column2 > div {width: 49%;}
.card__inner.column3 > div {width: 32%;}
.card__inner.column4 > div {width: 24%;}
.card__inner.column6 > div {width: 16%;}
.card__inner.column6 > div p {display: none;}
.card__inner.column6 > div h3 {font-size: 0.9rem;}

.card__inner.column1 {
    flex-direction: column;
}
.card__inner.column1 > div {
    width: 100%; 
    display: flex; 
    justify-content: space-between;
    margin-bottom: 20px;
}
.card__inner.column1 > div h3 {
    font-size: 1.4rem;
}
.card__inner.column1 > div figure {
    width: 20%;
    
}
.card__inner.column1 > div div {
    width: 78%;
}
.card__inner > div {
    width: 24%;
    margin-bottom: 50px;
}
.card__inner > div h3 {
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card__inner > div h3 span {
    border-bottom: 2px solid var(--black);
    padding-bottom: 3px;
}
.card__inner > div p {
    color: var(--black300);
}
.card__inner > div figure {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.card__inner > div figure .go {
    position: absolute;
    right: -50px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    line-height: 31px;
    background-color: var(--black);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    transform: rotate(760deg);
    transition: all 0.6s ease-in-out;
}
.card__inner > div figure:hover .go {
    right: 10px;
    transform: rotate(0deg);
}
.card__inner > div figure img {
    filter: saturate(100%);
    transition: all 0.3s;
}
.card__inner > div figure:hover img {
    filter: saturate(0%);
}
.card__more {
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eee;
    z-index: 100;
    border: 1px solid var(--black500);
    transition: all 0.3s;
}

.card__more:hover {
    background-color: var(--black);
}
.card__more::before {
    content: '';
    width: 18px;
    height: 2px;
    background-color: var(--black500);
    position: absolute;
    left: 5px;
    top: 13px;
    transition: all 0.3s;
}
.card__more::after {
    content: '';
    width: 2px;
    height: 18px;
    background-color: var(--black500);
    position: absolute;
    left: 13px;
    top: 5px;
    transition: all 0.3s;
}
.card__more:hover::before {
    background-color: var(--white);
}
.card__more:hover::after {
    background-color: var(--white);
}

@media (max-width: 960px){
    .card__wrap {
        padding: 20px;
    }
    .card__inner.column4 > div {width: 32%;}
    .card__inner.column6 > div {width: 32%; margin-bottom: 15px;}
    .card__inner.column6 > div h3 {font-size: 1.2rem;}
    .card__inner.column1 {
        flex-direction: row;
    }
    .card__inner.column1 > div {
        flex-direction: column;
        width: 32%;
    }
    .card__inner.column1 > div figure {
        width: 100%;
    }
    .card__inner.column1 > div div {
        width: 100%;
    }
    .card__inner.column1 > div h3 {
        font-size: 1.2rem;
    }
    .card__inner.column1 > div p {
        display: none;
    }
}
@media (max-width: 600px){
    .card__inner.column1 > div {width: 49%;}
    .card__inner.column3 > div {width: 49%;}
    .card__inner.column4 > div {width: 49%;}
    .card__inner.column6 > div {width: 49%;}
}
@media (max-width: 400px){
    .card__inner.column1 > div {width: 100%;}
    .card__inner.column2 > div {width: 100%;}
    .card__inner.column3 > div {width: 100%;}
    .card__inner.column4 > div {width: 100%;}
    .card__inner.column6 > div {width: 100%;}
}