.join__inner {
    padding: 80px 0;
}
.join__inner h2 {
    font-size: 30px;
    text-align: center;
}
.join__form {
    padding: 10% 20%;
}
.join__form div {
    margin-bottom: 3em;
}
.join__form div label {
    display: block;
    font-size: 1.2rem;
    border-bottom: 5px;
}

@media (max-width:800px) {
    .join__form {
        padding: 5% 20px;
    }
}
