.join__inner {
    padding: 80px 0;
}
.join__inner h2 {
    font-size: 30px;
    text-align: center;
}
.join__index {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
}
.join__index ul {
    display: inline-block;
    position: relative;
}
.join__index ul::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--black);
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}
.join__index li {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 33px;
    border-radius: 50%;
    border: 2px solid var(--black);
    font-family: var(--main-gmark);
    font-size: 18px;
    background-color: var(--primary-color);
}
.join__index li:nth-child(2) {
    margin: 0 30px;
}
.join__index li.active {
    color: var(--white);
    background-color: var(--black);
}
.agree__box {
    padding: 0 10%;
    margin-bottom: 50px;
}
.agree__box .scroll {
    height: 400px;
    background-color: var(--black600);
    padding: 30px;
    white-space: pre-line;
    overflow-y: auto;
    line-height: 1.6;
}
.agree__box .check {
    margin-top: 10px;
}
.agree__box .check label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.agree__box .check input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.agree__box .check .indicator {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
}
.agree__box .check .indicator::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.agree__box .check input:checked ~ .indicator {
    background: #2aa1c0;
}
.agree__box .check input:checked ~ .indicator::after {
    display: block;
}

.join__form {
    padding: 80px 20%;
}
.join__form div {
    margin-bottom: 3em;
}
.join__form div label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
@media (max-width: 800px){
    .join__form {
        padding: 5% 20px;
    }
}.join__inner {
    padding: 80px 0;
}
.join__inner h2 {
    font-size: 30px;
    text-align: center;
}
.join__index {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
}
.join__index ul {
    display: inline-block;
    position: relative;
}
.join__index ul::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--black);
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}
.join__index li {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 33px;
    border-radius: 50%;
    border: 2px solid var(--black);
    font-family: var(--main-gmark);
    font-size: 18px;
    background-color: var(--primary-color);
}
.join__index li:nth-child(2) {
    margin: 0 30px;
}
.join__index li.active {
    color: var(--white);
    background-color: var(--black);
}

.join__agree {}
.agree__box {
    padding: 0 10%;
    margin-bottom: 50px;
}
.agree__box .scroll {
    height: 400px;
    background-color: var(--black600);
    padding: 30px;
    white-space: pre-line;
    overflow-y: auto;
    line-height: 1.6;
}
.agree__box .check {
    margin-top: 10px;
}
.agree__box .check label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.agree__box .check input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.agree__box .check .indicator {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
}
.agree__box .check .indicator::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.agree__box .check input:checked ~ .indicator {
    background: #2aa1c0;
}
.agree__box .check input:checked ~ .indicator::after {
    display: block;
}

.join__form {
    padding: 80px 20%;
}
.join__form div {
    margin-bottom: 3em;
}
.join__form div label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.join__form .check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.join__form .check label {
    width: 100%;
}
.join__form .check input {
    width: 68%;
}
.join__form .check .check__btn {
    width: 30%;
}
.join__form .check2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.join__form .check2 label {
    width: 100%;
}
#youAddress1 {
    width: 68%;
}
.join__form .check2 input {
    width: 100%;
    margin-bottom: 10px;
}
.join__form .check2 .check__btn {
    width: 30%;
    margin-bottom: 10px;
}


.join__form .check__msg {
    color: var(--red);
    padding-top: 5px;
}

@media (max-width: 800px){
    .join__form {
        padding: 5% 20px;
    }
}